<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{{ path('home_index') }}" class="navbar-brand">Power<b>Rangers</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-between">
        <!-- Navigation Links -->
        <div class="navbar-nav">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_dashboard') }}" class="nav-item nav-link">Dashboard</a>
            {% endif %}
            <a href="{{ path('app_project_db_index') }}" class="nav-item nav-link">Home</a>
            {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_FREELANCER')  %}
            <a href="{{ path('app_evenement_client') }}" class="nav-item nav-link">Evenement</a>
            {% endif %}
            <a href="{{ path('app_commande_db_index') }}" class="nav-item nav-link">Offers</a>
        </div>


        <!-- Search Form -->

        <!-- Authentication Buttons -->
        <div class="navbar-nav auth-buttons">
            {% if app.user %}
                <!-- When user is logged in -->
                <a href="{% if app.user.role.value == 'ROLE_FREELANCER' %}
                              {{ path('get_freelancer_private_profile') }}
                          {% elseif app.user.role.value == 'ROLE_CLIENT' %}
                              {{ path('get_client_profile', { id: app.user.id }) }}
                          {% elseif app.user.role.value == 'ROLE_ADMIN' %}
                              {{ path('get_admin_private_profile') }}
                          {% else %}
                              {{ path('home_index') }}
                          {% endif %}"
                   class="btn btn-outline-primary mr-2">
                    {{ app.user.nom }}'s Profile
                </a>
                <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
            {% else %}
                <!-- When user is not logged in -->
                <a href="{{ path('app_login') }}" class="btn btn-outline-primary mr-2">Login</a>
                <a href="{{ path('app_register') }}" class="btn btn-primary">Sign Up</a>
            {% endif %}
        </div>
    </div>

</nav>
