{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <div class="container contact mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info text-center">
                    <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="Reclamation Icon" />
                    <h2>Reclamations</h2>
                    <h4>Manage all your complaints effectively!</h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">


                    <p class="mt-2">Total: <strong>{{ reclamations|length }}</strong> reclamations found</p>

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="select-all"></th>
                                <th>Date</th>
                                <th>Etat</th>
                                <th>Message</th>
                                <th>Projet</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reclamation in reclamations %}
                                <tr>
                                    <td><input type="checkbox" name="selectedIds[]" value="{{ reclamation.id }}"></td>
                                    <td>{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>
                                    <td>{{ reclamation.etat }}</td>
                                    <td>{{ reclamation.message }}</td>
                                    <td>{{ reclamation.projet.domaine }}</td>
                                    <td>
                                        <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}" class="btn btn-primary btn-sm">Consulter</a>
                                        <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}" class="btn btn-secondary btn-sm"
                                                {{ reclamation.etat == 'non traité' ? '' : 'disabled' }}>Modifier</a>

                                        <form action="{{ path('app_reclamation_delete', {'id': reclamation.id}) }}" method="post" style="display: inline;">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reclamation.id) }}">
                                            <button class="btn btn-danger btn-sm"
                                                    {{ reclamation.etat == 'non traité' ? '' : 'disabled' }}
                                                    type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réclamation ?')">Supprimer
                                            </button>
                                        </form>

                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6" class="text-center">No records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                        <a href="{{ path('app_reclamation_new') }}" class="btn btn-success mt-3">Ajouter Reclamation</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
