{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}

    <h1 class="text-center my-4">Evenements</h1>

    <div class="container">
        <div class="row">
            {% for evenement in evenements %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="single-schedules-inner card shadow-sm">
                        <div class="date p-3">
                            <i class="fa fa-clock-o"></i>
                            {{ evenement.date ? evenement.date|date('Y-m-d H:i') : 'Date non définie' }}
                        </div>
                        <h5 class="card-title px-3">{{ evenement.nom }}</h5>
                        <p class="card-text px-3">
                            Type : {{ evenement.type }}<br>
                            Places disponibles : {{ evenement.nbreDispo }}
                        </p>
                        <div class="card-footer d-flex justify-content-between">
                            <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}" class="btn btn-primary btn-sm">Voir</a>
                            <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" class="btn btn-secondary btn-sm">Modifier</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p class="text-center">Aucun événement trouvé.</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{{ path('app_evenement_new') }}" class="btn btn-success">Créer un nouvel événement</a>
    </div>
{% endblock %}
