{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="my-4 text-success">Projects</h1>

        <!-- Search Form -->
        <form method="get" action="{{ path('app_project_db_index') }}" class="mb-3">
            <input type="text" name="search" value="{{ searchTerm }}" placeholder="Search by domain or description" class="form-control">
            <button type="submit" class="btn btn-primary mt-2">Search</button>
        </form>

        <h4 class="text-secondary mb-4">Featured Projects</h4>
        <div class="row">
            {% for project_db in project_dbs %}
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="my-4 text-success">
                                <a href="{{ path('app_project_db_show', {'id': project_db.id}) }}" class="text-success">
                                    {{ project_db.domaine }}
                                </a>
                            </h4>
                            <p class="card-text">{{ project_db.description }}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <div>
                                <strong>Client:</strong>
                                <a href="{{ path('get_client_profile', {'id': project_db.client.id}) }}" class="text-success">
                                    {{ project_db.client.nom }} {{ project_db.client.prenom }}
                                </a>
                            </div>
                            <a href="{{ path('app_project_db_show', {'id': project_db.id}) }}" class="btn btn-secondary">View Details</a>
                            {% if is_granted('ROLE_FREELANCER') or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_commande_db_new', {'projectId': project_db.id}) }}" class="btn btn-success">Apply</a>
                                <a href="{{ path('app_reclamation_new', {'projectId': project_db.id}) }}" class="btn btn-danger">Create Reclamation</a>

                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination for Card Layout -->
        <div class="d-flex justify-content-center mt-4">
            {{ knp_pagination_render(project_dbs) }}
        </div>

        <!-- Create New Project Button -->
        {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_ADMIN') %}
            <div class="mt-4 text-center">
                <a href="{{ path('app_project_db_new') }}" class="btn btn-success btn-lg">Create New Project</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
