{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    <div>
        {{ form_start(registrationForm) }}
        <!-- Name input -->
        <div class="form-outline mb-4">
            {{ form_widget(registrationForm.name, { 'attr': {'class': 'form-control', 'id': 'registerName'} }) }}
            <label class="form-label" for="registerName">Name</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control', 'id': 'registerEmail'} }) }}
            <label class="form-label" for="registerEmail">Email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            {{ form_widget(registrationForm.plainPassword.first, { 'attr': {'class': 'form-control', 'id': 'registerPassword'} }) }}
            <label class="form-label" for="registerPassword">Password</label>
        </div>

        <!-- Confirm Password input -->
        <div class="form-outline mb-4">
            {{ form_widget(registrationForm.plainPassword.second, { 'attr': {'class': 'form-control', 'id': 'registerPasswordConfirm'} }) }}
            <label class="form-label" for="registerPasswordConfirm">Confirm Password</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
